fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
aiohttp
numpy
joblib
pydantic
python-multipart
psycopg2-binary
pydantic-settings
slowapi
python-json-logger
apscheduler
watchdog
pybreaker
prometheus-fastapi-instrumentator
prometheus-client
aioredis
scikit-learn
xgboost
