fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
python-jose[cryptography]
aiohttp
numpy
joblib
pydantic
python-multipart
psycopg2-binary
pydantic-settings
slowapi
python-json-logger
apscheduler
watchdog
pybreaker
prometheus-fastapi-instrumentator
prometheus-client
aioredis
redis[hiredis]
scikit-learn==1.8.0
xgboost==2.1.4
