fastapi
uvicorn[standard]

python-dotenv
python-multipart

sqlalchemy
psycopg2-binary
greenlet

python-jose[cryptography]
passlib[bcrypt]

aiohttp
httpx

numpy
pandas
scikit-learn
joblib

pydantic
email-validator

python-dateutil
